@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Lamentamos el inconveniente.</h1>
<h2 class="text-danger">Ha surgido una inconsistencia al procesar la solicitud.</h2>

