@model ForoIA.Models.IndexViewModel
@{
    ViewBag.Title = "Configuración de la cuenta";
}

<div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist" id="myTab">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Datos</a></li>
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Publicaciones</a></li>
        <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Comentarios</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
            ...
        </div>
        <div role="tabpanel" class="tab-pane fade" id="profile">
            @Html.Action("PartialUserPosts", "Posts")
        </div>
        <div role="tabpanel" class="tab-pane fade" id="messages">
            @Html.Action("PartialUserPosts", "Comments")
        </div>
    </div>

</div>