@model IEnumerable<ForoIA.ViewModel.Home.IndexViewModel>
@{
    ViewBag.Title = "Bienvenido";
}

<div class="panel panel-default ">

    <div class="panel-heading">
        <h3 class="panel-title">Inteligencia Artificial en la ESIME</h3>
    </div>

    <div class="panel-body list-group">
        @foreach (var item in Model) {
            <div class="row list-group-item">
                <div class="col-md-8 pull-left">
                    @Html.ActionLink(item.Category, "Category", "Posts", new { id = item.CategoryId }, null)
                    <br />
                    <small>Publicaciones: @item.TotalPosts</small>
                </div>
                @*<div class="col-md-4 pull-right">
                    Ultimo:
                    <br />
                    Usuario, Fecha
                </div>*@
            </div>
        }
    </div>

</div>